In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = [
    'this is the first document pipoca pipoca pipoca',
    'this document is the second document pipoca pipoca pipoca',
    'and this is the third one pipoca pipoca pipoca',
    'as this the first document'
]

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)

vectorizer.get_feature_names()[:5]

['and', 'as', 'document', 'first', 'is']

In [2]:
import numpy

features_array = numpy.array(vectorizer.get_feature_names())
features_array[:5]

array(['and', 'as', 'document', 'first', 'is'], dtype='<U8')

In [3]:
data = X.todense().tolist()

In [4]:
import pandas

df = pandas.DataFrame(data, columns=features_array)
df

,and,as,document,first,is,one,pipoca,second,the,third,this
0,0.000000,0.000000,0.268583,0.331753,0.268583,0.000000,0.805749,0.000000,0.219584,0.000000,0.219584
1,0.000000,0.000000,0.474161,0.000000,0.237080,0.000000,0.711241,0.371432,0.193829,0.000000,0.193829
2,0.362292,0.000000,0.000000,0.000000,0.231246,0.362292,0.693738,0.000000,0.189059,0.362292,0.189059
3,0.000000,0.623342,0.397871,0.491450,0.000000,0.000000,0.000000,0.000000,0.325285,0.000000,0.325285

In [5]:
for i in df.iterrows():
    values = i[1].values.tolist()
    print([features_array[i] for i, v in enumerate(values) if 0.0 < v < 0.6])

['document', 'first', 'is', 'the', 'this']
['document', 'is', 'second', 'the', 'this']
['and', 'is', 'one', 'the', 'third', 'this']
['document', 'first', 'the', 'this']